1 course/1 term/SYAP/Проект/Лабы по html(3)/Лаба 11/note.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="SECTION">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="TERM">
<xs:complexType>
<xs:sequence>
<xs:element name="SUBJECT" type="xs:string" />
<xs:element name="DEFENITION" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>