1 course/1 term/Computer_Data_Markup_Languages/laba11/note.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ALL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FACULTY" type="xs:string" />
				<xs:element name="SPECIALITIES">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="SPECIALITY">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" />
										<xs:element name="TIME" type="xs:string" />
										<xs:element name="EXAM" type="xs:string" />
										<xs:element name="DEPARTMENT" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>